*.pyc
*.pyo
Dev/*
rooibos/settings_local.py
solr/logs/*.log
solr/solr/data/
apps/
scratch/
rooibos/*/migrations/
solr/wrapper.*
solr/wrapper-license.conf
config.xml
CACHE
rooibos/static/flowplayer/flowplayer.commercial*
Thumbs.db
2*M.mysql
rooibos/mdid2.xml
rooibos/nohup_solr
rooibos/mdid2migrateOut.txt
rooibos/static/cache/*
solr/nohup_solr
