.gitignore
django_virtualenv_localMacOS.wsgi
*.pyc
*.pyo
rooibos/settings_local.py
solr/logs/*.log
solr/solr/data/
apps/
scratch/
rooibos/*/migrations/
solr/wrapper.*
solr/wrapper-license.conf
config.xml
CACHE
rooibos/static/flowplayer/flowplayer.commercial*
Thumbs.db
rooibos/static/cache/*
2*M.mysql
.DS_Store
.idea/
Dev/
rooibos/.DS_Store
rooibos/mdid2.xml
rooibos/mdid2migrateOut.txt
rooibos/pptexport/.DS_Store
rooibos/pptexport/pptx_templates/.DS_Store
rooibos/static/soundmanager/swf/soundmanager2_flash9_xdomain.swf
gallery_backup/*
mdidData/*
dist/mac/*
solr/nohup_solr