{% extends 'master_root.html' %}

{% block content %}
    <div style="margin-top:1em;">
        <h2>Activity</h2>
        {% if 'is_paginated' %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
        {% endif %}

    </div>

    <table>
        <thead>
        <tr>
            <td>Date</td>
            <td>Time</td>
            <td>Event</td>
            <td>Data</td>
        </tr>
        </thead>
        {% for activity in object_list %}
            <tr>
                <td>{{ activity.date|date }}</td>
                <td>{{ activity.time }}</td>
                <td>{{ activity.event }}</td>
                <td>{{ activity.data }}</td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}